{{ $content_type := .Params.content_type }}
{{if $content_type}}
{{ $t := .Site.GetPage $content_type }}
{{ $rscPages := $t.Resources.ByType "page"}}

{{if gt (len $rscPages) 0}}
<div class="publications row w-100">
    <div class="col w-100">
        {{ range $page := $rscPages}}
        <div class="publication row  w-100">

            <div class="section-1 w-100">
                <a class="link_color" href="{{$page.Params.publication_link}}">
                    {{$page.Params.title}},
                </a>
                <span>
                    {{$page.Params.publication}}, {{substr ($page.Params.date.Format "2006-01-02") 0 4}}.
                </span>
            </div>

            <div class="section-2 text-muted w-100">

                {{ $authors := $page.Params.authors }}

                {{ if $authors }}
                {{range $i, $author := $authors}}
                <span>
                    {{$author}}  
                </span>
                {{ if lt $i (sub (len $authors) 1)}}
                <span class="separator">, 
                </span>
                {{end}}
                {{end}}
                {{end}}

            </div>

            {{ $links := $page.Params.links }}
            {{ if $links }}
            <div class="section-3  w-100">
                {{range $link_name, $link_url := $links}}
                    {{ if $link_url }}
                <a class="main_color text-decoration-none rounded" href="{{$link_url}}" target="_blank">
                <!-- <a class="main_color" href="{{$link_url}}" target="_blank"></a> -->
                    {{ $link_name | title}}
                </a>
                    {{end}}
                {{end}}
            </div>
            {{end}}

            {{ $media := $page.Params.media }}
            {{ if $media }}
            <div class="w-100">
                Selected media coverage: {{range $media_name, $media_url := $media}}
                    {{ if $media_url }}
                <a class="link_color" href="{{$media_url}}" target="_blank">
                    {{$media_name | title}}
                </a>
                    {{end}}
                {{end}}
            </div>
            {{end}}



        </div>

        {{end}}

    </div>
    {{end}}
</div>
{{end}}